<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            {% include 'sidebar.html' %}

            <!-- Main content -->
            <div class="col-sm-9 col-md-10">
                <h1 class="page-header">{{ project.name }}</h1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Project Details</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ project.name }}</td>
                                </tr>
                                <tr>
                                    <td>Number</td>
                                    <td>{{ project.number }}</td>
                                </tr>
                                <tr>
                                    <td>Total Employees Working on the Project</td>
                                    <td>{{ employee_count }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>